
<!-- Footer -->
    <footer class="white-section" id="footer" th:fragment="footer" style="text-align:center;margin: auto;">
        <div class="container-fluid">

            <a href="https://www.facebook.com/shwetank.bst/" target="_blank"><i class="fab fa-facebook footer-icon" ></i></a>
            <a href="https://twitter.com/shwetankssy" target="_blank"><i class="fab fa-twitter footer-icon"></i></a>
            <a href="https://www.instagram.com/shwetankssy" target="_blank"><i class="fab fa-instagram footer-icon"></i></a>
            <a href="mailto: shwetank.bst@gmail.com" target="_blank"><i class="fas fa-envelope footer-icon"></i></a>
            <p>© Copyright 2021 MobileSite</p>
        </div>
    </footer>